<a href="https://colab.research.google.com/github/mazette04/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

Create a Class

In [3]:
class MyClass:
  pass

In [4]:
class OOP1_2:
  X = 5
  print(X)

5

Create Objects

In [11]:
class OOP1_2:
  def __init__(self,name,age):   #__init__(paramter)
    self.name = name               #attributes
    self.age = age

  def identity(self):
    print(self.name, self.age)

person = OOP1_2("Maria", 39)  #create objects


print(person.name)
print(person.age)
print(person.identity)

Maria
39
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f8b62f3ee10>>

In [13]:
#Modify the Object Name

person.name = "Rizette"
print(person.name)
print(person.age)

Rizette
39

In [14]:
person.age = 40

print(person.name)
print(person.age)

Rizette
40

In [16]:
#Delete the Object

del person.name

AttributeError: ignored

In [18]:
print(person.name)

AttributeError: ignored

In [21]:
print(person.age)

40

Application 1 - Write a Python program that computes the area of a square, and name its class as Square, sides as attribute

In [28]:
class Square:
  def __init__(self,sides):
    self.sides = sides

  def area(self):
    return self.sides*self.sides    #formula to compute the area of the square

  def display(self):
    print("the area of the square is:", self.area())

square = Square(4)


print(square.sides)
square.display()

4
the area of the square is: 16

Application 2 - Write a Python program that displays your full name. age, course, school. Create a class named MyClass, and name, age, school, course as attributes